.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 60rem;
  padding: 2rem;
}

.titulo {
  width: 60rem;
  text-align: center;
  padding: 1.5rem;
  border-bottom: 0.1rem solid var(--border-color);
}

.select {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--bg-container);
  color: var(--text-primary);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border: none;
  outline: none;
}

.categoriaContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: var(--bg-container);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
