.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 60rem;
  padding: 2rem;
}

.titulo {
  width: 60rem;
  text-align: center;
  padding: 1.5rem;
  border-bottom: 0.1rem solid var(--border-color);
}

.form {
  background-color: var(--bg-container);
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  box-shadow:
    0 10px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.messageInput {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.label {
  font-weight: bold;
  padding-left: 0.2rem;
}

.input {
  padding: 1rem;
  background-color: var(--bg-input);
  color: var(--text-primary);
  border-radius: 0.8rem;
  border: none;
  outline: none;
}
.input:focus {
  border: 2px solid var(--border-focus);
}
.input::placeholder {
  color: var(--text-secondary);
}

.erro {
  color: red;
  font-weight: bold;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.btn {
  background-color: var(--btn-primary);
  color: var(--text-primary);
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  font-weight: 600;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
  transform: translateY(-0.5rem);
}
