.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-main);
  width: 100%;
  min-height: 100vh;
  color: #f8fafc;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--bg-container);
}

.list {
  display: flex;
  flex-flow: wrap;
  list-style-type: none;
}

.link:hover {
  cursor: pointer;
  background-color: #303c4e;
}

.linkText {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem 1rem;
  display: inline-block;
}
